<?xml version="1.0"?>

<robot name="SideCase_L" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="SideCase_L">

    <inertial>

      <origin xyz= "0.02 0.0 -0.05" rpy="0 0 0"/>
      <mass value= "0.1" />
      <inertia
        ixx="0.01" ixy="0.0"  ixz="0.0"
        iyy="0.01" iyz="0.0"
        izz="0.01" />

    </inertial>

    <collision name="collision">

      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find r3mcell_cu)/meshes/BatteryDisassembly/BD_RightLeft.dae"/>
      </geometry>

    </collision>

    <visual name="visual">

      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find r3mcell_cu)/meshes/BatteryDisassembly/BD_RightLeft.dae"/>
      </geometry>

    </visual>

  </link>

  <gazebo reference="SideCase_L">
    <selfCollide>false</selfCollide>
  </gazebo>

  <!-- LOAD ObjectPose Gazebo (ROS2) PLUGIN: -->
  <gazebo>
    <plugin name="ros2_objectpose_plugin" filename="libros2_objectpose_plugin.so" >
      <ros>
        <namespace>SideCase_L</namespace>
      </ros>
    </plugin>
  </gazebo>

</robot>