<?xml version="1.0"?>

<robot name="BaseCylinder" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="BaseCylinder">

    <inertial>

      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value= "0.1" />
      <inertia
        ixx="0.0001" ixy="0.0"  ixz="0.0"
        iyy="0.0001" iyz="0.0"
        izz="0.001" />

    </inertial>

    <collision name="collision">

      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find r3mcell_amrc_gazebo)/meshes/CylinderStacking/BaseCylinder.dae"/>
      </geometry>

    </collision>

    <visual name="visual">

      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find r3mcell_amrc_gazebo)/meshes/CylinderStacking/BaseCylinder.dae"/>
      </geometry>

    </visual>

  </link>

  <gazebo reference="BaseCylinder">
    <selfCollide>false</selfCollide>
  </gazebo>

  <!-- LOAD ObjectPose Gazebo (ROS2) PLUGIN: -->
  <gazebo>
    <plugin name="ros2_objectpose_plugin" filename="libros2_objectpose_plugin.so" >
      <ros>
        <namespace>BaseCylinder</namespace>
      </ros>
    </plugin>
  </gazebo>

</robot>