<?xml version="1.0"?>
<robot name="BD_Battery" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="BD_Battery">

    <inertial>

      <mass value="0.01"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <inertia
      ixx="0.01" ixy="0.0"  ixz="0.0"
      iyy="0.01" iyz="0.0"
      izz="0.00" />

    </inertial>

    <collision name="collision">

      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find r3mcell_amrc_gazebo)/meshes/objects/BD_Battery.dae"/>
      </geometry>

    </collision>

    <visual name="visual">

      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find r3mcell_amrc_gazebo)/meshes/objects/BD_Battery.dae"/>
      </geometry>

    </visual>

  </link>

  <gazebo reference="BD_Battery">
    <material>Gazebo/Blue</material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <!-- Input parameters: -->
  <xacro:arg name="name" default="none"/>
  <xacro:property name="name" value="$(arg name)"/>

  <!-- LOAD ObjectPose Gazebo (ROS2) PLUGIN: -->
  <gazebo>
    <plugin name="ros2_objectpose_plugin" filename="libros2_objectpose_plugin.so" >
      <ros>
        <namespace>${name}</namespace>
      </ros>
    </plugin>
  </gazebo>

</robot>